header nav{
    margin-bottom: 0;
    padding-bottom: 0;
}
.nav-wrapper{
    justify-content: space-between;
}
#city_info{
    display:flex;
    justify-content: space-between;
    margin-top: 0;
    padding: 0 10px;

}
#stadium_thumb{
    float:left;
}
.containered {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 0;
  }
/* Centered text */
.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
  }