header nav{
    margin-bottom: 0;
    padding-bottom: 0;
}
.nav-wrapper{
    justify-content: space-between;
}
p{
    font-size: 0.5em;
}
input{
    font-size: 150%;
}
#city_info{
    display:flex;
    justify-content: space-between;
    margin-top: 0;
    padding: 0 10px;

}

#stadium_desc{
    display: block;
}
.containered {
    position: relative;
    text-align: center;
    color: white;
  }
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }